@model Resto.Data.GeneralModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



    <div class="boxed-page">
		<!-- Menu Section -->
    <section id="gtco-menu" class="section-padding">
        <div class="container">
            <div class="section-content">
                <div class="row mb-5">
                    <div class="col-md-12">
                        <div class="heading-section text-center">
                            <span class="subheading">
                                Specialties
                            </span>
                            <h2>
                                Our Menu
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="row">

                        @for (var i = 0; i < 3; i++)
                        {

                        <div class="col-lg-4 menu-wrap">
                            <div class="heading-menu">
                                <h3 class="text-center mb-5">Breakfast</h3>
                            </div>

                                @for (var j = 0; j < 3; j++)
                                {
                                <div class="menus d-flex align-items-center">
                                    <div class="menu-img rounded-circle">
                                        <img class="img-fluid" src="@Url.Content(Model.Menues.ElementAt(5).Meal_image)" alt="">
                                    </div>
                                    <div class="text-wrap">
                                        <div class="row align-items-start">
                                            <div class="col-8">
                                                <h4>@Model.Menues.ElementAt(5).Meal_name</h4>
                                            </div>
                                            <div class="col-4">
                                                <h4 class="text-muted menu-price">$@Decimal.Round(@Model.Menues.ElementAt(5).Meal_price,2, MidpointRounding.AwayFromZero)</h4>
                                            </div>
                                        </div>
                                        <p>@Model.Menues.ElementAt(5).Meal_shortinfo</p>
                                    </div>
                                </div>
                                }

                        </div>


                        }


                </div>
            </div>
        </div>
    </section>

  

